/*.mybody {*/
    /*#background-color: #e8e8e8;*/
    /*background-color: #ffffff;*/
/*}*/

#header {
    margin: 10px 0;
}

.container {
    padding: 0;
}

h2 {
    color: #f18021;
}

.navbar-default {
    /*background-color: #38459d;*/
    /*background-color: #7379b9;*/
    background-color: #0d033c;
    border-color: #0d033c;
    font-size: 20px;
}
.navbar-default .navbar-nav > li > a {
    color: #ffffff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    /*background-color: #0d033c;*/
    background-color: #7379b9;
    color: #ffffff;
}

ul.nav a:hover { background-color: #27236c !important; color: #fff !important; }

.navbar-header .navbar-brand, .navbar-brand > a:hover {
    color: #ffffff;
}

.navbar-brand {
    font-size: 24px;
}

.sponsors{
    margin-top: 20px;
}

.sponsors a {
    padding-right: 10px;
}

/*footer*/
footer{
    /*background-color: #33383c;*/
    /*background-color: #7379b9;*/
    background-color: #0d033c;
    padding:20px 0px;
}

.adress span , .contact span , .social span{
    color: #FFF;
    font-weight: 800;
    padding:20px 0px;
    display: block;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 3px;
}

.adress li , .contact li , .social li {
    padding:5px 0px;
    list-style: none;
}

.adress li p , .contact li a , .social li a{
    color:#FFF;
    letter-spacing: 2px;
    text-decoration:none;
    font-size:14px;
}

.social li{
    float:left;
}

.social .fa{
    color:#9c9c9c;
    margin-right: 10px;
    font-size:22px;
}
/*footer*/